@import '../../../../styles/colors';

.collection_div {
  min-width: 400px;
  background-color: #2a2a2e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 8;

  &.hidden {
    display: none;
  }

  .collection_div--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    button {
      background-color: white;
      font-weight: bold;
    }
  }

  .collection_div--header {
    height: 34px;
    background-color: $brand_orange;
    padding: 8px 8px 5px;
    display: flex;

    span {
      color: white;
      flex: 1;
      font-weight: bold;
      overflow-x: hidden;
      padding: 10px 0 10px 10px;
      text-align: center;
      text-overflow: ellipsis;
      user-select: text;
      white-space: nowrap;
    }

    button {
      cursor: pointer;
      font-size: 18px;
      margin: -7px -8px -6px 0;
      padding: 18px 16px 15px 12px;
      background: 0;
      border: 0;
      line-height: 14px;
    }
  }
}
