#edit_collection_dialog {
  .MuiPaper-root {
    min-width: 500px;

    pre {
      max-height: 200px;
      overflow: auto;
    }
  }

  #delete_collection {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
