@import './colors';

button,
span {
  &.MuiButton-contained.MuiButton-containedPrimary {
    background-color: $brand_orange;
    color: #ffffff;
    &:hover {
      background-color: lighten($brand_orange, 10%);
    }
    &.Mui-disabled {
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &.MuiButton-contained.MuiButton-containedSecondary {
    background-color: $brand_blue;
    color: #ffffff;
    &:hover {
      background-color: lighten($brand_blue, 10%);
    }
    &.Mui-disabled {
      color: rgba(0, 0, 0, 0.26);
      box-shadow: none;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

button {
  &.MuiButton-textPrimary {
    color: $brand_orange;
    &:hover {
      background-color: lighten($brand_orange_light4, 1%);
    }
  }

  &.MuiButton-textPrimary.Danger-Button {
    color: red;
    &:hover {
      background-color: lighten(red, 40%);
    }
  }

  &.MuiButton-textSecondary {
    color: $brand_blue;
    &:hover {
      background-color: lighten($brand_blue_light5, 20%);
    }
  }
}
