$brand_orange: #f47722;
$brand_orange_dark: darken($brand_orange, 5%);
$brand_orange_light: lighten($brand_orange, 5%);
$brand_blue: #1e376c;
$brand_blue_dark: darken($brand_blue, 5%);
$brand_blue_light: lighten($brand_blue, 5%);

$brand_blue_light1: lighten($brand_blue, 10%);
$brand_blue_light2: lighten($brand_blue, 20%);
$brand_blue_light3: lighten($brand_blue, 30%);
$brand_blue_light4: lighten($brand_blue, 40%);
$brand_blue_light5: lighten($brand_blue, 50%);

$brand_orange_light1: lighten($brand_orange, 10%);
$brand_orange_light2: lighten($brand_orange, 20%);
$brand_orange_light3: lighten($brand_orange, 30%);
$brand_orange_light4: lighten($brand_orange, 40%);
$brand_orange_light5: lighten($brand_orange, 50%);
