@import './colors';

#login_page {
  &--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: #2a2a2e;

    #main {
      &_img--snorlax {
        margin-top: 10vh;
        height: 20vh;
      }

      &_div-- {
        &connection_container {
          margin-top: 5vh;
          width: 400px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
          box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
          background: white;

          @media (max-width: 400px) {
            width: 300px;
          }

          #connection_container-- {
            &h1_title {
              margin-top: 3vh;
              font-size: 3rem;
              font-family: pacifico;
              color: $brand_orange_dark;
            }

            &button_group {
              display: flex;
              width: 100%;
              margin: 3vh 0;
              justify-content: space-evenly;
              #button_group-- {
                &connect,
                &add {
                  width: 100px;
                }
              }
            }
          }
        }

        &storage_button {
          position: absolute;
          bottom: 20px;
          right: 20px;

          .MuiFab-primary {
            background-color: $brand_orange;
          }
        }
      }
    }
  }

  &--version {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: white;
  }
}

#new_connection_form--content,
#existing_connection_form--content {
  .MuiFormGroup-root {
    flex-direction: row;
  }
  .MuiTextField-root {
    padding-bottom: 15px;
  }
  .circular_progress {
    position: absolute;
    left: 50;
    right: 50;
    top: 50;
    bottom: 50;
  }

  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 10px;
  }
}
