@import '../../node_modules/reset-css/sass/reset';
@import '../../node_modules/graphiql/graphiql.css';
@import './colors';
@import './fonts';
@import './buttons';

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: $brand_orange;
}
