@import '../../../../styles/colors';

.workspace_div {
  width: 25%;
  background-color: #2a2a2e;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  z-index: 8;

  &.hidden {
    display: none;
  }

  .workspace_div--empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    button {
      background-color: white;
      font-weight: bold;
    }
  }

  .workspace_div--header {
    height: 34px;
    background-color: $brand_orange;
    padding: 8px 8px 5px;
    display: flex;

    span {
      color: white;
      flex: 1;
      font-weight: bold;
      overflow: hidden;
      padding: 10px 0 10px 10px;
      text-align: center;
      text-overflow: ellipsis;
      user-select: text;
      white-space: nowrap;
      font-family: Arial, Helvetica, sans-serif;
    }

    button {
      cursor: pointer;
      font-size: 18px;
      margin: -7px -8px -6px 0;
      padding: 18px 16px 15px 12px;
      background: 0;
      border: 0;
      line-height: 14px;
    }
  }

  .collection_list_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    .MuiExpansionPanelSummary-content {
      p {
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .collection_actions {
        display: flex;
        visibility: hidden;
        flex-direction: row;

        > * {
          padding: 3px;
          margin: 0px;
        }
        .download_button,
        .collection_link,
        .info_button {
          .MuiIconButton-label {
            height: 24px;
            color: black;
          }
        }
      }
      &:hover .collection_actions {
        visibility: visible;
      }
    }

    button {
      max-width: 200px;
      align-self: flex-end;
      margin: 5px;
    }

    &--list {
      max-height: calc(100vh - 150px);
      overflow: auto;
    }

    .MuiExpansionPanel-root {
      color: white;
      background-color: #2a2a2e;
      &.Mui-expanded {
        margin: 1px 0;
      }

      .MuiTypography-root {
        font-weight: bold;
      }

      .MuiExpansionPanelSummary-root:hover {
        color: black;
        background: $brand_orange_light1;

        a {
          color: black;
        }
      }

      .MuiExpansionPanelSummary-root {
        padding: 0 8px 0 16px;
      }

      .MuiExpansionPanelSummary-root.Mui-expanded {
        min-height: 56px;
        background: lighten($brand_orange, 5%);
        color: black;
      }
      .MuiExpansionPanelSummary-content {
        margin: 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .MuiExpansionPanelDetails-root,
      &:before,
      &:after {
        color: black;
        background-color: white;
      }

      .MuiTypography-subtitle2 {
        padding: 5px 10px;
        max-width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $brand_orange_light3;
      }

      .MuiExpansionPanelDetails-root {
        display: flex;
        flex-direction: column;
        padding: 0px;
        background: lighten(#2a2a2e, 5%);
      }
    }

    .query_list {
      color: white;
      width: 100%;
      max-height: 300px;
      overflow: auto;

      > * {
        padding: 0 5px 0 15px;
        justify-content: space-between;

        .edit_button {
          visibility: hidden;
        }

        &:hover .edit_button {
          visibility: visible;
          color: white;
        }
      }

      &--empty {
        display: flex;
        align-items: center;
        color: white;
      }

      .MuiListItem-root {
        &:hover {
          background: $brand_orange_light1;
        }
      }
    }
  }
}
